doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
		title= locals.title ? title + " | " + site_title : site_title

		if current.path[0] === "index"
			meta(name='description', content=description)
		else
			if current.path[0] === "work"
				meta(name='description', content=description)
		meta(property='og:title', content=locals.title ? title + " | " + site_title : site_title)

		link(rel='stylesheet', href='/assets/css/master.css')

	body(class="#{ current.path.join('-') }")
		!= partial("_partials/nav")
		#main.container
			if current.path[0] === "index"
				.row.home-thumbs
					.col-sm-12.col-md-6.bio
						h1 Edward Essing
					for post, slug in public.work._data
						if post.layout !== false
							a.home-thumb.col-xs-6.col-sm-4.col-md-3(href="/work/#{ slug }" style="background-image: url(/work/img/#{ img= post.hero })")
				!= yield
			else
				if current.path[0] === "work"
					!= partial("work/_work")
				else if current.path[0] === "home"
					!= partial("home")
				else

			footer.row
				!= partial("_partials/footer")

		//- script(src="/assets/js/respond.js")
		script(src="/assets/js/jquery.min.js")
		script(src="/assets/js/bootstrap-3.2.0.min.js")
		script(src="/assets/js/script.js")